.dashboard {
    border: 1px solid black;
    margin: 25px;
    height: 500px;
    background: url("../../../public/img/bg.jpg") 0 0/100% auto no-repeat;
    position: relative;
}
.wrapperBg {
    background-color: #9b9292;
    opacity: 0.3;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
